<div class="container-fluid">
  <nav class="navbar navbar-expand navbar-light bg-light mb-3">
    <a routerLink="/" class="navbar-brand">GCP Demo</a>
    <div class="navbar-nav">
      <a routerLink="/" routerLinkActive="active" class="nav-item nav-link">Home</a>
      <a routerLink="/one" routerLinkActive="active" class="nav-item nav-link">One</a>
      <a routerLink="/two" routerLinkActive="active" class="nav-item nav-link">Two</a>
    </div>
  </nav>
   <router-outlet></router-outlet>
</div>
